# environment variables file
*.env
*.env.test

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# VS Code
.vscode/
*.code-workspace

/node_modules
